.develop li{
    font-size: 1rem;
}

.develop i{
    font-size: 1.5rem;
    /* margin-right: .3rem; */
    padding-right: .5em;
}

#express {
    padding:0.2em;  
    border-radius: 3px;
    margin-right: .3rem;
}

.headCont a{
    color: black !important;
}

@media screen and (min-width:981px) {
    #emailBtn{
        display: none !important;
    }
}

@media screen and (min-width:1281px) {
    #resumeBtn{
        width: 100% !important;
    }
    #footer ul {
        flex-direction: column !important;
        align-items: flex-start !important;
    }

}